<div class="close-fullscreen" *ngIf="goFullscreen" (click)="setFullscreen(false)">
    <span class="las la-times la-3x "></span>
</div>
<ngb-carousel
    [class.fullscreen]="goFullscreen"
    *ngIf="slides.length"
>
    <ng-template *ngFor="let slide of slides" ngbSlide>
        <div class="picsum-img-wrapper">
            <img
                [class.fullscreen-img]="goFullscreen"
                [src]="slide.path"
                width="100%"
                alt="Random first slide"
                (click)="setFullscreen(true)"
            >
        </div>
        <div class="carousel-caption">
            <h3 *ngIf="slide.label">{{slide.label}}</h3>
            <p *ngIf="slide.subLabel">{{slide.subLabel}}</p>
        </div>
    </ng-template>
</ngb-carousel>
