.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: black;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items:center;
    flex-flow: row wrap;
    align-content: center;
}

.fullscreen-img {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;
    align-items:center;
    align-content: center;
}

.close-fullscreen {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 12;
    color: white;
}
