<div class="d-flex justify-content-center">
    <div class="col-11 col-sm-8 col-lg-8 col-xl-5">
        <h1 class="text-center mb-5 mt-5">The Center</h1>
        <div class="visible-text mb-5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed metus vitae lorem semper consequat. Mauris tellus odio, venenatis eu pretium quis, posuere a ligula. Aliquam sagittis orci et congue sodales. Maecenas vitae gravida eros. Aliquam at nisl hendrerit, gravida lectus ac, tempus sapien. Morbi non nulla in ligula semper imperdiet sit amet quis metus. Sed vulputate neque sit amet rhoncus volutpat. Etiam vitae nulla quis nisl facilisis bibendum vitae nec sapien. Morbi posuere tempus ante, non condimentum libero placerat vitae. Donec sed congue magna. Nulla sapien metus, rhoncus id dui in, facilisis vulputate ipsum. Vivamus at magna enim. Pellentesque suscipit tellus id turpis lobortis suscipit. Donec eu dolor a velit suscipit pellentesque ac eget augue. Praesent efficitur eros eu dui interdum, ac pharetra nibh vestibulum.
            </p>
            <h5>Here's what images look like</h5>
            <carousel [slides]="slides"></carousel>
        </div>
    </div>
</div>
<parallax [path]="'/assets/the-center.jpg'" [ratio]=".5" class="background-main the-center right"></parallax>
