/* You can add global styles to this file, and also import other style files */
// Import Bootstrap source files (Required file)
@import "../node_modules/bootstrap/scss/bootstrap";


//Body

body {
  background-color: rgb(132,149,192);
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

// Page Stuff

.quarter-down {
  margin-top: 25vh;
}
.half-down {
  margin-top: 50vh;
}

//Menu Stuff
.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dock {
  background-color: rgb(0,0,0,0)!important;
  box-shadow: none!important;

  lib-sidebar-container {
    display: none!important;
  }
  &.dock-open {
    lib-sidebar-container {
      display: block!important;
    }
    width: 150px!important;
  }
}

.menu-opener {
  font-size: 40px!important;
}