/* You can add global styles to this file, and also import other style files */
// Import Bootstrap source files (Required file)
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: rgb(132,149,192);
}

.quarter-down {
  margin-top: 25vh;
}
.half-down {
  margin-top: 50vh;
}

h1 {
  font-size: 4rem;
}

.dock {
  background-color: rgb(0,0,0,0)!important;
  box-shadow: none!important;

  lib-sidebar-container {
    display: none!important;
  }
  &.dock-open {
    lib-sidebar-container {
      display: block!important;
    }
    width: 150px!important;
  }
}

.menu-opener {
  font-size: 40px!important;
}

